.job-item-card {
    padding: 20px;
    font-weight: 100;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.09) !important;

    &:hover {
        cursor: default;
        background-color: white;
        transition: transform 0.15s ease-in-out;
        transform: scale3d(1.05, 1.05, 1);
    }
}

.job-duration {
    background-color: transparent;
    color: black;
    font-size: x-small;
    border: 0.01px solid rgb(219, 216, 216);
    padding: 0px 5px;
    border-radius: 5000px;
    font-weight: 200;
    height: 20px;
    line-height: 20px;
    width: fit-content;
}

.header-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.header-details {
    margin-left: 15px;
    font-size: 14px;
}

.header-company-name {
    margin: 0;
    line-height: 20px;
    color: #8B8B8B;
    letter-spacing: 1px;
    font-weight: 500;
}

.header-role {
    margin: 0;
    font-weight: 300;
    text-transform: capitalize;
}

.header-location {
    font-size: 11px;
    margin-top: 4px;
    text-transform: capitalize;
    font-weight: 300;
}

.job-salary {
    color: #8B8B8B;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
}

.job-about {
    font-weight: 300;
    font-size: 14px;
}

.job-content {
    display: flex;
    flex-direction: column;
}

.job-details {
    margin-top: -10px;
    font-weight: 200;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10; /* number of lines to show */
            line-clamp: 10; 
    -webkit-box-orient: vertical;
    -webkit-mask-image: linear-gradient(#000, rgba(0,0,0,0.2));
    mask-image: linear-gradient(#000, rgba(0,0,0,0.2));
}

.job-view-btn {
    width: 100%;
    background-color: transparent;
    color: rgb(90, 90, 254);
    text-transform: none;
    text-decoration: none !important;
    border: none;
    font-size: 14px;
    padding: 0;
    margin-top: -14px;
    font-family: 'Lexend';

    &:hover {
        box-shadow: none;
        cursor: pointer;
    }
}

.job-card-footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 14px;
    margin-top: 6px;
}

.footer-head {
    margin: 0;
    font-weight: 300;
    color: #8B8B8B;;
}

.footer-text {
    margin-top: 2px;
    font-weight: 400;
}

.easy-apply-btn {
    outline: none;
    text-decoration: none;
    background-color: #54EFC3;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Lexend';
    font-weight: 400;

    &:hover {
        cursor: pointer;
    }
}

.referral-btn {
    background-color: #4943DA;
    height: auto;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Lexend';
    font-weight: 400;
    margin-top: 5px;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}

.referral-avatar {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-evenly;
    filter: blur(1px);
}

.referral-text {
    line-height: 2px;
    margin-left: 5px;
}